In [1]:
import pandas as pd

### <font color= yellow> Selecciones y Frecuencias

In [6]:
datos = pd.read_csv('data/alquiler_residencial.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

Seleccione solo lo inmuebles clasificados con Tipo 'Departamento'

In [11]:
# Otra manera de selccion: 
# seleccion_dep = datos['Tipo'] == 'Departamento' 
seleccion_dep = datos['Tipo'] .isin(['Departamento']) 
seleccion_dep

0        False
1        False
2         True
3         True
4         True
         ...
22840     True
22841    False
22842     True
22843     True
22844     True
Name: Tipo, Length: 22845, dtype: bool

In [12]:
datos_dep = datos[seleccion_dep]
datos_dep

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22838,Departamento,Ate,2,0,0,52,1000.0,550.0,NaN
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [13]:
# Cuantas filas hay con el Tipo 'Departamento'
datos_dep.shape[0]

19532

Seleccione solo los inmuebles clasificados con Tipo 'Casa', 'Casa en condominio' y 'Casa de villa'

In [16]:
# Otra manera de selccion: 
# seleccion_dep = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa en condominio') | (datos['Tipo'] == 'Casa de villa')
seleccion_casa_cond_villa = datos['Tipo'].isin(['Casa', 'Casa en condominio', 'Casa de villa'])
seleccion_casa_cond_villa

0        False
1         True
2        False
3        False
4        False
         ...
22840    False
22841    False
22842    False
22843    False
22844    False
Name: Tipo, Length: 22845, dtype: bool

In [20]:
datos_casa_cond_villa = datos[seleccion_casa_cond_villa]
datos_casa_cond_villa

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
14,Casa en condominio,San Luis,3,1,1,115,2000.0,NaN,NaN
18,Casa en condominio,Ate,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
22810,Casa en condominio,Callao,3,3,1,155,2000.0,530.0,1250.0
22812,Casa,Carabayllo,2,1,0,60,1400.0,NaN,NaN
22820,Casa en condominio,Ate,3,5,3,1000,20000.0,3000.0,NaN
22823,Casa,Pachacámac,5,0,1,160,5000.0,NaN,80.0
22839,Casa en condominio,Ate,5,3,4,450,15000.0,1711.0,2332.0

In [22]:
# Cuantas filas cumplen con este criterio
datos_casa_cond_villa.shape[0]

2212

Seleccione lo inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites

In [23]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [30]:
# Otra manera
# seleccion_area = (datos['Area'] >= 60) & (datos['Area'] <= 100)
seleccion_area = datos['Area'].between(60,100)
seleccion_area

0        False
1         True
2        False
3        False
4         True
         ...
22840     True
22841    False
22842     True
22843    False
22844     True
Name: Area, Length: 22845, dtype: bool

In [31]:
datos_area = datos[seleccion_area]
datos_area

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0
10,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
22833,Departamento,Jesús María,3,2,1,88,1550.0,790.0,NaN
22835,Departamento,Rímac,3,0,1,80,3000.0,1010.0,249.0
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [32]:
# Cuantos datos cumplen con este criterio
datos_area.shape[0]

8736

Selecciones lo inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000.00

In [33]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [40]:
seleccion_cuartos_alq = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000)
seleccion_cuartos_alq

0        False
1        False
2        False
3        False
4        False
         ...
22840    False
22841    False
22842    False
22843    False
22844    False
Length: 22845, dtype: bool

In [42]:
# Cuantas filas cumplen este criterio
datos_cuartos_alq = datos[seleccion_cuartos_alq]
datos_cuartos_alq.shape[0]

41

In [48]:
print(f"Numero de inmuebles clasificados con Tipo 'Departamento': {datos_dep.shape[0]}")
print(f"Numero de inmuebles clasificados con Tipo 'Casa', 'Casa en condominio' y 'Casa de villa': {datos_casa_cond_villa.shape[0]}")
print(f"Numero de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites: {datos_area.shape[0]}")
print(f"Numero de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000.00: {datos_cuartos_alq.shape[0]}")

Numero de inmuebles clasificados con Tipo 'Departamento': 19532
Numero de inmuebles clasificados con Tipo 'Casa', 'Casa en condominio' y 'Casa de villa': 2212
Numero de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites: 8736
Numero de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000.00: 41